iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 48px;
}

.content h1 {
    margin-top: 30px;
}

.panel {
    position: relative;
    display: block;
    padding: 0;
    margin: 150px 0 0 0;
    text-align: center;
    z-index: 2;
}

#particles-js {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 350px;
    background-color: #F27059;
}


#navbar {
    z-index: 2;
}

#knn {
    width: 100%;
    height: 100%;
}

header {
    color: #fff;
    padding: 0 0 100px 0;
    /* height: 300px; */
}

.noshadow {
    box-shadow: none;
}

.in-middle {
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    width: 0%;
}

.choose-school {
    width: 70%;
    min-width: 200px;
    line-height: 47px;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

form i {
    font-size: 30px;
    text-align: center;
    text-align: center;
    width: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5px #888;
    margin: 5px;
    background-color: white;
    padding: 10px;

}

form i:hover {
    background-color: rgb(222, 221, 221);
}

#choose-transport input:checked {
    background-color: #F27059;
}

[type=range] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 390px;
    left: 50%;
    height: 15px;
    border-radius: 10px;
    border: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

[type=range]:hover {
    opacity: 1;
}

[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #F27059;
    cursor: pointer;
    border-color: #F27059;
}

[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #F27059;
    cursor: pointer;
    border-color: #F27059;
}

.main-color {
    background-color: #F27059;
    color: white;
}

.half-split {
    width: 50%;
}


br {
    content: '';
    display: block;
    margin: 10px 0;
}

.no-space br {
    margin: 0;
}

#navbar {
    z-index: 100;
}



.no-shadow {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    box-shadow: none;
}

#fill-with-k,
p span {
    font-family: "Playfair Display", serif;
}

.more-padding {
    padding-bottom: 60px;
}

footer i {
    size: 80px;
}

select {
    
}

/* BUTTON GROUPS */
.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}


.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    position: relative;
    flex: 1 1 auto
}

.btn-group-vertical>.btn-check:checked+.btn,
.btn-group-vertical>.btn-check:focus+.btn,
.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover,
.btn-group>.btn-check:checked+.btn,
.btn-group>.btn-check:focus+.btn,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 1;
}


.btn-group>.btn-group:not(:first-child),
.btn-group>.btn:not(:first-child) {
    margin-left: -1px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}



.btn-group-sm>.btn+.dropdown-toggle-split,
.btn-sm+.dropdown-toggle-split {
    padding-right: .375rem;
    padding-left: .375rem
}

.btn-group-lg>.btn+.dropdown-toggle-split,
.btn-lg+.dropdown-toggle-split {
    padding-right: .75rem;
    padding-left: .75rem
}

.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.btn-group-vertical>.btn,
.btn-group-vertical>.btn-group {
    width: 100%
}

.btn-group-vertical>.btn-group:not(:first-child),
.btn-group-vertical>.btn:not(:first-child) {
    margin-top: -1px
}

.btn-group-vertical>.btn-group:not(:last-child)>.btn,
.btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group-vertical>.btn-group:not(:first-child)>.btn,
.btn-group-vertical>.btn~.btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.btn-group button {
    background-color: #f1f1f1;
    color: black;
    box-shadow: 0 10 50% black;
}

.btn-group {
    display: inline block;
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}


[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

button {
    border: none;
    box-shadow: 1px 1px 5px #444;
    width:60px;
}

button:hover{
    background-color: coral;
    color: white;
}

.btn-group .active{
    background-color: #444;
    color:#fff;
    box-shadow: 1px 1px 10px #444;

}

option{
    font-family: 'Quicksand';
}
select {
    font-family: 'Quicksand', sans-serif;
    box-shadow: 1px 1px 5px #888;
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22.5px;
    color: #212529;
    background-color: #fff;
    /* arrow in the select */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 393px;
}

select:focus {
    border-color: coral;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(242, 112, 89, .25);
    font-family: Quicksand;
}

.panel {
    margin-bottom: 0;
    padding: 0;
}

.choose-metric {
    width: 200px;
}

.choose-school {
    width: 1000px;
}
#categories li {
    margin-left: 40px;
    list-style-position: inside;
}

@media (max-width:700px){
    .btn-group{
        margin-top: 10px;
    }    
    .choose-school {
        width: 435px;
    }
} 

.large{
    font-size:30px!important
}